#header {

  &__navigation {
    height: 50px;
    font-size: 14px;
    background-color: #000000;

    ul {
      height: 100%;
      margin: 0;
      padding: 0;

      li {
        margin: 1em;
        cursor: pointer;
        color: #8c919b;
      }

      li:hover {
        color: yellow
      }
    }

    .internal-routes {
      ul {
        text-align: left;
      }
    }

    .social-routes {
      ul {
        text-align: right;
      }
    }
  }

  &__image {
    text-align: center;

    img {
      border-radius: 50%;
      height: 200px;
      margin: 2em auto;
    }

    //
    //@media screen and (max-width: 992px) {
    //  background-image: url("../assets/logo/square_small.jpeg");
    //  background-position: center;
    //  background-repeat: no-repeat;
    //  height: 430px;
    //}
  }

}
