#header__navigation {
  height: 50px;
  font-size: 14px;
  background-color: #000000; }
  #header__navigation ul {
    height: 100%;
    margin: 0;
    padding: 0; }
    #header__navigation ul li {
      margin: 1em;
      cursor: pointer;
      color: #8c919b; }
    #header__navigation ul li:hover {
      color: yellow; }
  #header__navigation .internal-routes ul {
    text-align: left; }
  #header__navigation .social-routes ul {
    text-align: right; }
#header__image {
  text-align: center; }
  #header__image img {
    border-radius: 50%;
    height: 200px;
    margin: 2em auto; }

/*# sourceMappingURL=header.css.map */
