@import url('https://fonts.googleapis.com/css2?family=Lato&family=Overpass:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}